<div class="navbar-default sidebar" role="navigation" ng-controller="menu_controller">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
            </li>
            <li>
                <a href="#/inicio"><i class="fa fa-dashboard fa-fw"></i> Inicio</a>
            </li>
            <li>
                <a href="#/home"><i class="fa fa-home fa-fw"></i> Home</a>
            </li>
            <li>
                <a href="#/contacto"><i class="fa  fa-paper-plane-o"></i> Contacto</a>
            </li>           
            <li>
                <a href="#"><i class="fa fa-dropbox fa-fw"></i> Producto<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#/listado_tipo_producto">Listado Tipo Producto</a>
                    </li>
                    <li>
                        <a href="#/ingreso_tipo_producto">Ingreso Tipo Producto</a>
                    </li>
                    <li>
                        <a href="#/listado_producto">Listado Producto</a>
                    </li>
                    <li>
                        <a href="#/ingreso_producto">Ingreso Producto</a>
                    </li>
                    
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-user fa-fw"></i> Usuario<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#/listado_tipo_usuario">Listado Tipo Usuario</a>
                    </li>
                    <li>
                        <a href="#/ingreso_tipo_usuario">Ingreso Tipo Usuario</a>
                    </li>
                    <li>
                        <a href="#/listado_usuario">Listado Usuario</a>
                    </li>
                    <li>
                        <a href="#/ingreso_usuario">Ingreso Usuario</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-user fa-fw"></i> Cliente<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#/listado_cliente">Listado</a>
                    </li>
                    <li>
                        <a href="#/ingreso_cliente">Ingreso</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->



